* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2,
nav {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.2rem;
}

p,
li,
dl,
label {
  font-size: 1.6rem;
}

dt {
  font-weight: bold;
}

h2:first-of-type {
  background-color: yellow;
}

dl:only-of-type {
  border: 5px double darkblue;
}

h2::first-letter {
  font-size: 5rem;
}

.div {
  border: 5px double #000;
  margin: 0 auto;
  width: 400px;
  padding: 1rem;
}

.paragraph {
  width: 250px;
  border: 1px solid #000;
  padding: 1rem;
}

.large {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #000;
  position: relative;
}

.small {
  width: 150px;
  height: 150px;
  background-color: #efefef;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.fixed {
  width: 150px;
  height: 150px;
  background-color: #00008b;
  position: fixed;
  top: 50px;
  right: 50px;
}

.sticky {
  width: 150px;
  height: 150px;
  background-color: #006400;
  position: sticky;
  top: 100px;
  left: 950px;
}

.text {
  width: 500px;
  margin: 0 auto;
}

.z--one {
  opacity: 0.99;
}

.index {
  position: absolute;
  width: 200px;
  height: 200px;

  &--red {
    @extend .index;
    background-color: red;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.99;
  }

  &--green {
    @extend .index;
    background-color: green;
    top: 50px;
    left: 50px;
  }

  &--blue {
    @extend .index;
    background-color: blue;
    top: 100px;
    left: 100px;
  }
}

.parent {
  font-size: 2rem;
  background-color: darkblue;
  color: #fff;
  padding: 1rem;
}

.child {
  padding: 0.5rem;
}

.child--one {
  background-color: lightcoral;
}

.child--two {
  background-color: lightblue;
}

.child--three {
  background-color: darkgreen;
}

.container {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  border: 15px double #000;
}

.container:not(:last-child) {
  margin-bottom: 15px;
}

.float {
  width: 75px;
  height: 75px;
  float: right;

  &--blue {
    @extend .float;
    background-color: #00008b;
  }

  &--green {
    @extend .float;
    background-color: darkgreen;
  }

  &--red {
    @extend .float;
    background-color: darkred;
  }
}

.text--img--container {
  border: 3px solid red;
  width: 100%;
}

.float--left {
  width: 75px;
  height: 75px;
  background-color: lightcoral;
  float: left;
}

.div2 {
  border: 1px solid blue;
  font-size: 2rem;
}

.clear {
  @extend .div2;
  clear: left;
}

.required::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
}

.required::after {
  content: "*";
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 5px;
  padding: 5px;
  background-color: #efefef;
}

.cards {
  padding: 25px 0;

  @media (min-width: 550px) {
    display: flex;
    justify-content: space-around;

    &__card {
      width: 40%;
      margin-bottom: unset;
    }
  }

  @media (min-width: 800px) {
    width: 80%;
    margin: 25px auto;
  }

  @media (min-width: 1400px) {
    width: 50%;
  }

  &__card {
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;
    padding: 0 1em;
    margin-bottom: 25px;
  }

  &__picture img {
    max-width: 100%;
    border: 1px solid #000;
  }

  &__text {
    text-align: justify;
  }
}

.card--dark {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;

  img {
    border: 1px solid #bfbfbf;
  }
}

.titles {
  color: red;
}

.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 3rem;
}

@media (max-width: 500px) {
  .titles {
    color: green;
  }
}

@media print {
  .titles {
    color: blue;
  }
}

@media (orientation: landscape), (min-width: 500px) {
  .title {
    color: lightcoral;
  }
}

@media (orientation: portrait) and (max-width: 500px) {
  .subtitle {
    color: cyan;
  }
}

.transition {
  transition-property: background-color;
  transition-duration: 4s;
  transition-delay: 1s;
}

.transition:hover {
  background-color: lightblue;
}

.box {
  display: block;
  width: 100px;
  height: 100px;
  background-color: cyan;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
  width: 200px;
  height: 200px;
  background-color: orange;
  transform: rotate(90deg);
}

.nav {
  display: flex;
  gap: 0.5rem;
}

.link {
  flex: 1;
  background-color: #333;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.link:hover,
.link:focus {
  background-color: #fff;
  color: #333;
}

.ball {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background-color: #c00;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
}

.element {
  width: 100px;
  height: 100px;
  animation: pulse 5s infinite, nudge 5s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    background-color: darkgreen;
  }

  50% {
    background-color: lightcoral;
  }
}

@keyframes nudge {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  80% {
    transform: translate(1000px, 0);
  }
}

.element--two {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}

.video {
  background-color: #333;
  padding: 2rem 1rem;
  height: 1500px;
}

.box {
  background-color: #fff;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes myanimation {
  0%,
  100% {
    background-color: #fff;
    left: 0px;
    top: 0px;
    border-radius: 0 0 0 0;
  }

  25% {
    background-color: red;
    left: 300px;
    top: 0px;
    border-radius: 50% 0 0 0;
  }

  50% {
    background-color: green;
    left: 300px;
    top: 300px;
    border-radius: 50% 50% 0 0;
  }

  75% {
    background-color: blue;
    left: 0px;
    top: 300px;
    border-radius: 50% 50% 50% 50%;
  }
}

.box--transitions {
  position: relative;
  top: 400px;
  background-color: #fff;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  transition-property: all;
  transition-duration: 1s;
}

.box--transitions:hover {
  background-color: red;
  border-radius: 50%;
}

.landing {
  position: relative;
  top: 500px;
  color: #fff;
  font-size: 3rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.landing--title,
.landing--text,
.landing--btn {
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.landing--title {
  position: relative;
  animation: heading 2s;
  animation-fill-mode: forwards;
}

@keyframes heading {
  0% {
    top: -500px;
  }

  100% {
    top: 0px;
  }
}

.landing--text {
  position: relative;
  animation: text 2s;
}

@keyframes text {
  0% {
    left: -500px;
  }

  100% {
    left: 0px;
  }
}

.landing--btn {
  border: 1px solid #fff;
  display: block;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  animation: btn 4s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  transition-property: transform;
  transition-duration: 2s;
}

@keyframes btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.landing--btn:hover {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
}

.flexbox--header {
  background-color: purple;
  height: 100px;
}

.flexbox--title {
  text-align: center;
  color: #fff;
  line-height: 100px;
  margin: 0;
}

.flexbox--section {
  display: flex;
  flex-wrap: wrap;
}

.flexbox--article {
  padding: 10px;
  margin: 10px;
  background-color: aqua;
  flex: 1 300px;
}

.flexbox--article:nth-of-type(3) {
  flex: 2 300px;
}

.flexbox--btns {
  width: 80%;
  margin: 0 auto;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexbox--btn:first-child {
  align-self: flex-end;
  order: 1;
}

.flexbox--btn:last-child {
  align-self: flex-start;
  order: -1;
}

.one {
  grid-area: header;
}

.two {
  grid-area: menu;
}

.three {
  grid-area: main;
}

.four {
  grid-area: right;
}

.five {
  grid-area: footer;
}

.grid--container {
  font-size: 1.6rem;
  background-color: #2196f3;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  text-align: center;

  &__new {
    @extend .grid--container;
    margin-top: 25px;
    grid-template-areas: unset;
    grid-template-columns: auto auto auto;
  }
}

.grid--item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
}

.one__new {
  grid-row-start: 1;
  grid-row-end: 3;
}

.six__new {
  grid-column: 1 / 3;
}
